@{
    ViewData["Title"] = "Laboratory";
}

<script>
    $(document).ready(
        function () {
            var invoke = function(url) {
                flow.exec(
                    function () {
                        var ajax = new Monster.Ajax();
                        ajax.HttpGet(url, this);
                    },
                    function () {
                        alert("ok!");
                    });
            };

            $("#test-ajax-error").click(() => { invoke("Home/Throw"); });
            $("#test-ajax-missing").click(() => { invoke("Home/jkljljkljkljkl"); });
        });

</script>

<div class="text-center">
    <h1 class="display-4 mb-5">Welcome to the Laboratory</h1>
    <hr/>
    <h4>Error Testing Battery</h4>
    <p>Click a button to confirm that Mimeo is both following standards, responding to and logging errors properly.</p>

    <a href="#" id="test-ajax-error" class="btn btn-primary">Invoke AJAX error</a>
    <a href="#" id="test-ajax-missing" class="btn btn-primary">Invoke AJAX bad URL</a>
    <a href="/Home/Throw" class="btn btn-primary">Navigate to an error</a>
    <a href="/Home/jkljljkljkljkl" class="btn btn-primary">Navigate to bad URL</a>
</div>

