@{
    ViewData["Title"] = "Home Page";
}

<script>
    $(document).ready(
        function() {
            $("#test-ajax").click(function() {
                flow.exec(
                    function() {
                        var ajax = new Monster.Ajax();
                        ajax.HttpGet("/Home/Throw", this);
                    },
                    function() {
                        alert("ok!");
                    });
            });
        });

</script>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="#" id="test-ajax" class="btn btn-primary">Throw an AJAX Error</a>
    <a href="/Home/Throw" id="test-page" class="btn btn-primary">Navigate to an Error</a>
</div>

